body {
    background: #f4f4f4;
    font-family: 'Brunswick Grotesque', sans-serif;
}

#network-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    fill: #e0e0e0;
    stroke: #333;
    stroke-width: 1;
    transition: all 0.5s ease;
}

.label {
    font-size: 14px;
    fill: #333;
}

.line, .dotted-line {
    stroke: #333;
    stroke-width: 1;
}

.dotted-line {
    stroke-dasharray: 4, 4;
}

.node:hover .shape {
    fill: #888;
}

.node .label {
    text-anchor: middle;
    dominant-baseline: central;
}
